#output {
    margin-top: 20px;
  }
  
  table {
    margin-top: 20px;
  }
  
  table th {
    text-align: left;
  }
body {
    background-color: #073045;
    color: white;
} 
.logo {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px; 
    z-index: 1000; 
}
