#output {
    margin-top: 20px;
  }
  
  table {
    margin-top: 20px;
  }
  
  table th {
    text-align: left;
  }
body {
    background-color: #073045;
    color: white;
} 
.logo {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px; 
    z-index: 1000; 
}
body::before {
    content: "Michael Leipner";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    color: rgba(0, 0, 0, 0.1);
    pointer-events: none;
  }
  
